### Sustainability Aware Asset Management: **Groupe A: North America // Scope 1 + 2**
#### **Data import and cleaning**

In [1]:
## Packages lists:
import pandas as pd
import openpyxl

In [2]:
## Importing the 'Static.xlsx' file to have information on the companies (ISIN, Name, Sector, Country and Region.)
companies = pd.read_excel('Data/Static.xlsx')
## Selecting only the companies from the North America Region.
companies = companies[companies.Region == "AMER"]
## Selecting the ISIN of the companies as Index
companies = companies.set_index(companies.ISIN)

In [3]:
companies.head()

,Company,ISIN,GICSSectorName,Country,Region
ISIN,,,,,
AN8068571086,Schlumberger Limited,AN8068571086,Energy,UNITED STATES,AMER
BMG0450A1053,Arch Capital Group Ltd.,BMG0450A1053,Financials,UNITED STATES,AMER
BMG3223R1088,"Everest Group, Ltd.",BMG3223R1088,Financials,UNITED STATES,AMER
BMG6359F1370,Nabors Industries Ltd.,BMG6359F1370,Energy,UNITED STATES,AMER
BMG7496G1033,RenaissanceRe Holdings Ltd.,BMG7496G1033,Financials,UNITED STATES,AMER

In [4]:
## Importing the Monthly and Yearly Returns of each stock.
df_m = pd.read_excel("Data/DS_RI_T_USD_M.xlsx")
df_y = pd.read_excel("Data/DS_RI_T_USD_Y_CAI.xlsx")

## Selecting only the North America companies
df_m = df_m[df_m.ISIN.isin(companies.index)]
df_y = df_y[df_y.ISIN.isin(companies.index)]

## Dropping the ISIN columns
monthly_return = df_m.drop('ISIN', axis=1)
yearly_return = df_y.drop('ISIN', axis=1)

## Indexing the Companies names
monthly_return = monthly_return.set_index('NAME')
yearly_return = yearly_return.set_index('NAME')

## Removing the index name
monthly_return.index.name = None
yearly_return.index.name = None

## Transposing the dataframes to have a better structure to work with
monthly_return = monthly_return.T
yearly_return = yearly_return.T

In [5]:
df_m

,ISIN,NAME,2000-01-31 00:00:00,2000-02-29 00:00:00,2000-03-31 00:00:00,2000-04-30 00:00:00,2000-05-31 00:00:00,2000-06-30 00:00:00,2000-07-31 00:00:00,2000-08-31 00:00:00,...,2022-03-31 00:00:00,2022-04-30 00:00:00,2022-05-31 00:00:00,2022-06-30 00:00:00,2022-07-31 00:00:00,2022-08-31 00:00:00,2022-09-30 00:00:00,2022-10-31 00:00:00,2022-11-30 00:00:00,2022-12-31 00:00:00
0,AN8068571086,SCHLUMBERGER,1858.26,2254.15,2334.75,2336.65,2245.09,2283.70,2262.67,2610.77,...,3815.63,3603.19,4261.29,3315.58,3433.33,3537.17,3344.15,4846.68,4801.97,4997.02
90,BMG0450A1053,ARCH CAP.GP.,68.82,71.76,77.06,72.43,70.59,70.29,72.94,71.47,...,2050.73,1934.26,2010.07,1926.64,1880.47,1936.38,1928.75,2435.30,2537.37,2658.92
96,BMG3223R1088,EVEREST GROUP,131.53,128.27,170.76,153.10,177.96,172.37,208.08,211.34,...,2299.09,2095.63,2168.04,2151.00,2005.73,2077.31,2026.28,2491.23,2622.36,2570.61
105,BMG6359F1370,NABORS INDUSTRIES,1526.85,1848.97,2000.37,2032.58,2216.19,2142.10,2145.32,2451.33,...,378.02,382.72,412.79,331.43,352.70,327.99,251.11,430.76,391.90,383.34
108,BMG7496G1033,RENAISSANCERE HDG.,207.13,202.12,218.90,197.41,233.43,235.48,252.39,260.21,...,3488.64,3161.20,3384.31,3449.97,2855.35,2989.68,3105.81,3424.86,4185.68,4084.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010,US98389B1008,XCEL ENERGY,1760.30,1605.99,1817.46,2029.58,2058.66,1878.38,2088.35,2386.63,...,16834.25,17088.50,17573.68,16627.50,17196.16,17447.59,15136.36,15398.88,16607.42,16695.95
2011,US98421M1062,XEROX HOLDINGS,244.69,254.95,307.59,313.51,323.27,247.29,177.28,193.76,...,142.26,122.73,132.74,106.48,122.83,119.17,95.53,106.85,119.12,108.47
2012,US9884981013,YUM! BRANDS,92.34,85.89,100.20,109.27,94.56,91.13,78.02,93.95,...,2935.69,2898.04,3023.07,2824.97,3049.70,2782.54,2659.97,2957.89,3232.85,3218.28
2013,US9892071054,ZEBRA TECHNOLOGIES 'A',648.63,729.45,547.95,624.66,526.03,485.62,559.59,591.78,...,10200.82,9114.90,8338.93,7248.08,8819.75,7437.70,6460.52,6983.50,6664.44,6322.43
2014,US9897011071,ZIONS BANCORP.,9030.17,8104.25,6357.39,6338.30,7155.57,7042.87,6714.34,6898.42,...,14205.42,12244.48,12447.94,11107.99,11904.54,12093.21,11176.83,11414.17,11481.72,10892.35

In [37]:
def has_duplicates(arr):
    return len(set(arr)) != len(arr)

dup = []
for i in range(595):
    df = monthly_return.iloc[:,0].values
    res = has_duplicates(df)
    dup.append(res)

print(dup.count(True))
print(dup.count(False))

## As dup.count(True) = 0, we can see that we have no repeting values.

0
595

In [16]:
## MV data
mv = pd.read_excel('Data/DS_MV_USD_M.xlsx')

mv = mv[mv.ISIN.isin(companies.index)]
mv = mv.drop('ISIN', axis=1)
mv = mv.set_index('NAME')
mv.index.name = None