### Sustainability Aware Asset Management: **Groupe A: North America // Scope 1 + 2**
#### **Part I - Standard Asset Allocation**

In [64]:
## Packages lists:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy.optimize import minimize

## Importing all the dataframes from data.ipynb
%run data.ipynb

In [65]:
## Converting into returns using the simple return definition. Also replacing the NaN in the first period by 0.
df_m = monthly_return.pct_change().fillna(0)
df_m.index = pd.to_datetime(df_m.index)

df_y = yearly_return.pct_change().fillna(0)

### Part I - Standard Asset Allocation

#### 1.1 - Construction of a minimum variance portfolio

As we are computing the minimum variance portfolio out-of-sample, we use the first 6 years of monthly returns (from Jan. 2000 to Dec. 2005) to compute the vector of expected returns and the covariance matrix

In [3]:
## Sampling the dataframe from Jan. 2000 to Dec. 2005
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2005, 12, 31)
stocks = df_m.columns
sample_m = df_m[df_m.index.isin(pd.date_range(start, end))]

## Checking if tau is equal to 72
tau = len(sample_m)
tau == 72

True

We computed the expected returns as:
$$
\hat{\mu}_{Y+1} = \frac{1}{\tau}\sum_{k=0}^{\tau-1} R_{t-k}
$$

In [4]:
## It is simply a basic mean function.
mu_hat = pd.DataFrame(sample_m.mean(axis=0)).T

The covariance matrix is computed as:
$$
\Sigma_{Y+1} = \frac{1}{\tau}\sum_{k=0}^{\tau-1} (R_{t-k} - \hat{\mu}_{Y+1})'(R_{t-k} - \hat{\mu}_{Y+1})
$$

In [5]:
## We use the parameter bias=True, because we divide the sum by 1/tau instead of 1/(tau-1)
excess_returns = sample_m.subtract(mu_hat.values.squeeze(), axis=1)
covmat = 1/tau * excess_returns.T @ excess_returns

## We control if there is a missing value in our covariance matrix
print(covmat.isnull().values.any())

False

For the allocation, we use the following maximizazion problem, while restricting the optimal weights to be positive:

$$\min_{{{\alpha_{Y}}}}\quad \sigma^{2}_{p,Y+1} = \alpha'_{Y}\Sigma_{Y+1}\alpha_{Y}$$

$$\text{s.t.}\quad \alpha'_{Y}e = 1$$

$$\text{s.t.}\quad  \alpha_{i,Y} \ge 0 \quad \text{for all i}$$

In [6]:
# Define objective function (portfolio variance)
def portfolio_variance(weights, covmat):
    return np.dot(weights.T, np.dot(covmat, weights))

# Define constraint (sum of weights equals 1)
def constraint(weights):
    return np.sum(weights) - 1
    
# Number of assets
n_assets = len(covmat)

# Initial guess for weights
initial_weights = np.ones(n_assets) / n_assets

# Define bounds for weights (0 to 1) long-only portfolio
bounds = [(0, None)] * n_assets

# Perform optimization
result = minimize(portfolio_variance, initial_weights, args=(covmat,), constraints={'type': 'eq', 'fun': constraint}, bounds=bounds)

# Get optimal weights
optimal_weights = result.x

# Print results
weights = pd.DataFrame(optimal_weights, index=covmat.index, columns=['weight'])
weights

                              weight
SCHLUMBERGER            9.264636e-19
ARCH CAP.GP.            0.000000e+00
EVEREST GROUP           0.000000e+00
NABORS INDUSTRIES       0.000000e+00
RENAISSANCERE HDG.      1.160498e-02
...                              ...
XCEL ENERGY             0.000000e+00
XEROX HOLDINGS          3.395384e-20
YUM! BRANDS             3.882752e-04
ZEBRA TECHNOLOGIES 'A'  2.882714e-03
ZIONS BANCORP.          0.000000e+00

[595 rows x 1 columns]

In [7]:
## Rebalance portfolio from Dec. 2005 to Dec. 2021

In [8]:
def roll_min_var_opt(df, start, end):
    stocks = df.columns
    year_weight = end.year + 1
    weights_df = pd.DataFrame(index=stocks)

    for i in range(17):
        ## Resample from start to end
        sample_m = df[df.index.isin(pd.date_range(start, end))]
        tau = len(sample_m)

        ## Compute expected returns
        mu_hat = pd.DataFrame(sample_m.mean(axis=0)).T
    
        ## Excess returns
        excess_returns = sample_m.subtract(mu_hat.values.squeeze(), axis=1)
    
        ## Covariance Matrix
        covmat = 1/tau * excess_returns.T @ excess_returns
    
        # Define objective function (portfolio variance)
        def portfolio_variance(weights, covmat):
            return np.dot(weights.T, np.dot(covmat, weights))
    
        # Define constraint (sum of weights equals 1)
        def constraint(weights):
            return np.sum(weights) - 1
    
        n_assets = len(covmat)
    
        # Initial guess for weights
        initial_weights = np.ones(n_assets) / n_assets
        
        # Define bounds for weights (0 to 1) long-only portfolio
        bounds = [(0, None)] * n_assets
    
        result = minimize(portfolio_variance, initial_weights, args=(covmat,), constraints={'type': 'eq', 'fun': constraint}, bounds=bounds)
    
        optimal_weights = result.x

        weights_df[year_weight] = optimal_weights

        start = dt.datetime(start.year + 1, 1, 1)
        end = dt.datetime(end.year + 1, 1, 1)
        year_weight += 1

    return weights_df

In [9]:
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2005, 12, 31)

weights_df = roll_min_var_opt(df_m, start, end)

In [10]:
weights_df.head()

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
SCHLUMBERGER,9.264636e-19,1.318005e-18,1.905927e-18,2.382410e-18,0.000000e+00,1.777599e-17,1.166476e-17,2.496742e-18,0.000000e+00,9.865088e-18,2.562393e-18,6.348615e-18,6.378464e-18,6.579235e-18,0.000000,0.000000,8.912802e-19
ARCH CAP.GP.,0.000000e+00,1.181806e-18,0.000000e+00,0.000000e+00,0.000000e+00,1.981405e-18,1.014346e-02,0.000000e+00,1.055162e-17,0.000000e+00,0.000000e+00,1.930964e-18,6.190552e-18,1.013297e-03,0.001145,0.000000,0.000000e+00
EVEREST GROUP,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.798379e-19,0.000000e+00,2.076408e-04,8.780328e-19,1.205158e-18,3.121960e-03,0.000000e+00,2.192348e-18,9.010329e-03,2.661669e-03,0.044626,0.067024,2.534687e-02
NABORS INDUSTRIES,0.000000e+00,6.262720e-18,0.000000e+00,0.000000e+00,1.919460e-18,3.527139e-18,3.869747e-18,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,2.537288e-18
RENAISSANCERE HDG.,1.160498e-02,1.824573e-02,2.294535e-02,0.000000e+00,2.026127e-18,0.000000e+00,5.166867e-18,0.000000e+00,0.000000e+00,3.260270e-02,1.938555e-02,3.693503e-03,9.341518e-03,3.801113e-03,0.012310,0.030824,3.846325e-03

In [11]:
## Checking if the first constraint is respected.
weights_df.sum()

2006    1.0
2007    1.0
2008    1.0
2009    1.0
2010    1.0
2011    1.0
2012    1.0
2013    1.0
2014    1.0
2015    1.0
2016    1.0
2017    1.0
2018    1.0
2019    1.0
2020    1.0
2021    1.0
2022    1.0
dtype: float64

In [12]:
## Checking if the second constraint is respected.
print('The smallest weight is: ', np.min(weights_df))
print('The highest weight is: ', np.max(weights_df))

The smallest weight is:  0.0
The highest weight is:  0.15300345761854592

In [88]:
weights_df[2006].T

SCHLUMBERGER              9.264636e-19
ARCH CAP.GP.              0.000000e+00
EVEREST GROUP             0.000000e+00
NABORS INDUSTRIES         0.000000e+00
RENAISSANCERE HDG.        1.160498e-02
                              ...
XCEL ENERGY               0.000000e+00
XEROX HOLDINGS            3.395384e-20
YUM! BRANDS               3.882752e-04
ZEBRA TECHNOLOGIES 'A'    2.882714e-03
ZIONS BANCORP.            0.000000e+00
Name: 2006, Length: 595, dtype: float64

In [92]:
## Testing to Compute the ex-post performance of the portfolio for january 2007
df_jan07 = df_m.loc['2007-01-31']
expost_returns_jan07 = weights_df[2006].T.dot(df_jan07)

In [81]:
## Empty DataFrame to store ex-post returns
df_expost = pd.DataFrame()

## Iterate over each month in 2007
for date in pd.date_range(start='2007-01-31', end='2007-12-31', freq='M'):
    ## Extract the row for the current date from df_m
    monthly_returns = df_m.loc[date.strftime('%Y-%m-%d')]

    ## Calculate the dot product of the weights and the returns
    ex_post_return = weights_df[2006].dot(monthly_returns)
    
    ## Add the result to the df_expost DataFrame
    df_expost = pd.concat([df_expost, pd.DataFrame([ex_post_return])], ignore_index=True)

/var/folders/cv/6mdsb4ks2nq321vt7d4wvhdr0000gn/T/ipykernel_83034/2435563949.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  for date in pd.date_range(start='2007-01-31', end='2007-12-31', freq='M'):

In [82]:
## Corresponds to df_jan07, next years have to readjust weights with formula 
df_expost

           0
0   0.027630
1  -0.018721
2   0.014429
3   0.042573
4   0.016877
5  -0.017716
6  -0.019788
7   0.037963
8   0.046988
9   0.031572
10 -0.028507
11  0.005401